<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <%- include('header.ejs') %>
   
    <table> 
        <tr>
           <th>Title</th>
           <th>dueDate</th>
           <th>completed</th>
        </tr>
        
        <% for( var i = 0 ; i < allToDos.length; i++){ %>
            <tr>
                <td><%= allToDos[i].title %></td>
                <td><%= allToDos[i].dueDate %></td>
                <td><%= allToDos[i].completed %></td>
            </tr>
            
        <% } %>
    </table>

</body>
</html>